@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Noto+Sans+KR&display=swap');

/* html1 */
.main {
  background-image: url('https://pbs.twimg.com/media/DsNHKslVYAAtXwe.jpg:large');
  background-position: center;
  background-size: cover;
}

.maincontent {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maincontent > p > a {
  text-shadow: 6px 2px 2px gray;
  font-weight: bold;
  font-size: 75px;
  font-family: 'Diphylleia', serif;
  color: #a2dc6d;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  width: 500px;
  padding: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid black;
  border-radius: 5px;
}

.input-form-btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.card-text {
  height: 70%;
  font-size: 18px;
  text-align: center;
}

/* html3 */
.secondcard {
  margin: 120px;
  margin-top: 0;

  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondcard-content {
  width: 300px;
  height: 300px;

  border: 1px solid gray;
  border-radius: 5px;
}

.secondcard-title {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 25px;
}

.secondcard-text {
  height: 70%;
  font-size: 18px;
  text-align: center;
  line-height: 250%;
}

/* script1 */
.card-img,
.card-img-bottom,
.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-img-top {
  cursor: pointer;
}

.card-wrap {
  max-width: 960px;
  margin: 30px auto 70px;
}

.g-4.gy-4.card-list #card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card-list .card {
  width: 290px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 8px 0px;

  background: none;
  border: none;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header-wrapper > p {
  font-size: 14px;
}

.card-header > button {
  width: 40px;
  height: 25px;

  font-size: 10px;

  background: red;
  color: white;
  border: none;
}

/* html3 */
.card-content {
  height: 70px;
  display: flex;
  overflow: auto;
  word-break: break-all;
}

.card-content > span {
  margin: auto;
}
/* script2 */
.comment-window {
  width: 90%;
  min-width: 800px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* html2 */
.comment-label {
  width: 15%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
/* html2 */
.comment-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.comment-input > label {
  font-size: 13px;
  color: #ced4da;
  margin-left: 4px;
}

.comment-input > input {
  border: none;
  width: 95%;
  margin: 0 4px 0 4px;
}

.comment-input > input:focus {
  outline: none;
}
/* script2 */
.comment-name {
  width: 15%;
}

.comment-comment {
  width: 47%;
}

.card-text.text-list {
  font-size: 16px;
}

.mb-3.board_list {
  width: 90% !important;
  padding: 10px 0;
}

.board_title {
  display: flex;
  gap: 10px;
  line-height: 34px;
}

.board_btn {
  margin-left: auto;
}

.board_btn > button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #888;
}

.board_btn > button:hover {
  color: red;
}

.card-body {
  padding: 15px 20px;
}

.card-body.main-card {
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
/* 헤더 */
.current-page {
  font-weight: 900;
}

.hidden {
  display: none;
}
/* html3 */
.team_name {
  color: #0d6efd;
  font-size: 24px;
  font-weight: bold;
}
/* html2 */
.comment-btn {
  width: 70px;
}
/* script2 */
.comment-date {
  font-size: 12px;
}

input[type="file"]::file-selector-button {
  width: 80px;
  background: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
  border: 1px solid black;
}

/*------- responsive --------*/
@media (min-width: 768px) {
  .row-cols-md-2 > * {
    width: auto;
  }
}
@media (max-width: 768px) {
  .row-cols-1 > * {
    display: flex;
    justify-content: center;
  }
}
