.main {
  color: rgb(232, 17, 17);

  background-image: url('https://pbs.twimg.com/media/DsNHKslVYAAtXwe.jpg:large');
  background-position: center;
  background-size: cover;
}

.maincontent {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maincontent > p > a {
  color: rgb(232, 17, 17);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  width: 500px;
  padding: 20px;
  margin-bottom: 20px;

  display: none;
  flex-direction: column;
  justify-content: center;

  border: 1px solid black;
  border-radius: 5px;
}
.input-form-btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
}
