@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Noto+Sans+KR&display=swap");

.main {
  background-image: url("https://pbs.twimg.com/media/DsNHKslVYAAtXwe.jpg:large");
  background-position: center;
  background-size: cover;
}

.maincontent {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maincontent > p > a {
  text-shadow: 6px 2px 2px gray;
  font-weight: bold;
  font-size: 75px;
  font-family: "Diphylleia", serif;
  color: #a2dc6d;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  width: 500px;
  padding: 20px;
  margin-bottom: 20px;

  display: none;
  flex-direction: column;
  justify-content: center;

  border: 1px solid black;
  border-radius: 5px;
}

.input-form-btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
}

.card-title {
  height: 30%;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.card-text {
  height: 70%;
  font-size: 18px;
  text-align: center;
}

.secondcard {
  margin: 120px;
  margin-top: 0;

  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondcard-content {
  width: 300px;
  height: 300px;

  border: 1px solid gray;
  border-radius: 5px;
}

.secondcard-title {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 25px;
}

.secondcard-text {
  height: 70%;
  font-size: 18px;
  text-align: center;
  line-height: 250%;
}

.card-img,
.card-img-bottom,
.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-img-top {
  cursor: pointer;
}

.card-wrap {
  max-width: 960px;
  margin: 30px auto 70px;
}

.g-4.gy-4.card-list #card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card-list .card {
  width: 290px;
}

.card-header {
  display: flex;
  justify-content: space-between;

  background: none;
  border: none;
}

.card-header > button {
  width: 40px;
  height: 25px;

  font-size: 10px;

  background: red;
  color: white;
  border: none;
}

.comment-window {
  width: 90%;
  min-width: 800px;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-label {
  width: 15%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.comment-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.comment-input > label {
  font-size: 13px;
  color: #ced4da;
  margin-left: 4px;
}

.comment-input > input {
  border: none;
  width: 95%;
  margin: 0 4px 0 4px;
}

.comment-input > input:focus {
  outline: none;
}

.comment-name {
  width: 15%;
}

.comment-comment {
  width: 55%;
}

.card-text.text-list {
  font-size: 16px;
}

.hidden {
  display: none;
}

/*------- responsive --------*/
@media (min-width: 768px) {
  .row-cols-md-2 > * {
    width: auto;
  }
}
@media (max-width: 768px) {
  .row-cols-1 > * {
    display: flex;
    justify-content: center;
  }
}
